.occasionCard {
    width: 100%;
    display: flex;
    background-color: #fff;
    height: 138px;
    margin-bottom: 15px;
    padding: 37px 0 0 29px;
    border-left: 3px solid #a9d85f;
    transition: border-left;
    position: relative;
    &:hover {
        border-left: 7px solid #a9d85f;
    }
    &__cross {
        position: absolute;
        right: 30px;
        top: 25px;
        cursor: pointer;
    }
    &__placeTime {
        display: flex;
        flex-direction: column;
        width: 230px;
        span {
            font-size: 14px;
            margin-top: 25px;
            color: #a3a3a3;
            font-weight: bold;
        }
    }
    &__headerDesc{
        display: flex;
        flex-direction: column;
        width: 683px;
        margin-left: 95px;
        span {
            margin-top: 15px;
            font-size: 14px;
            color: #a3a3a3;
            font-weight: bold;
        }
    }
}