.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    &__input {

    }
    &__label {
        color: #a3a3a3;
        font-weight: 600;
        height: 14px;
        margin-top: 14px;
    }
}