.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    &__label {
        color: #a3a3a3;
        font-weight: 600;
        height: 14px;
        margin-top: 14px;
        display: inline;
        width: 50%;
    }
    &__labelImage {
        width: 20px;
        margin-left: auto;
        position: relative;
        display: inline;
        cursor: pointer;
    }
}

.modalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__buttons {
        color: #a3a3a3;
        :last-child {
            margin-right: 0px;
        }
    }
}

.modal {
    padding: 50px 0 0 12px;
    position: relative;
    &__close {
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
    }
}

.header__container {
    padding: 50px 230px;
}

.header__heading {
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    right: 230px;
    line-height: 1.25;
    right: 250.594px;
    top: 100.203px;
}